footer {
  display: flex;
  gap:24px;
  padding-block: 24px;
  font:14px/150% var(--font-family);
}
/* nome do elemento, mas é a contagem de filhos, não só do filho preterido*/
footer span:nth-child(1) {
  margin-right: auto;
}